/* Footer */
footer {
    display: flex;
    flex-direction: column;
    width: var(--page-width);
    margin: var(--margin);
    padding: 3.5rem;
    gap: 5rem;
}

.footer-itens {
    display: flex;
    gap: 10rem;
}

.footer-list {
    display: flex;
    flex-direction: column;
     gap: 1rem;

    a {
        transition: var(--transition);
    }
    
    a:hover {
        color: var(--color-light-blue);
    }
}

/* Footer Icons */
.icons {
    display: flex;
    gap: 1.5rem;

    i {
        color: var(--color-light-blue);
    }
}
